/* FOOTER */
.footer {
    margin-top: 7rem;
    text-align: center;
    background-color: var(--cor-overlay-footer);
}

.footer .container {
    padding: 5rem 0;
}

.footer h2 {
    font-family: var(--fonte-secundaria);
    font-size: var(--fonte-normal);
    font-weight: 700;
    letter-spacing: 2px;
    color: var(--cor-branca);
    margin-bottom: 20px;
}

.footer .up-home {
    display: inline-block;
    animation: up-page 0.6s infinite alternate ease-in-out;
}

@-webkit-keyframes up-page {
    0% {
        transform: translateX(0) translateY(0) rotate(0deg);
        opacity: 0.4;
    }

    50% {
        transform: translateY(-0.5em) rotate(-45deg);
        opacity: 0.6;
    }

    100% {
        transform: translateY(-2em) rotate(-90deg);
        opacity: 0.9;
    }
}

@keyframes up-page {
    0% {
        transform: translateX(0) translateY(0) rotate(0deg);
        opacity: 0.4;
    }

    50% {
        transform: translateY(-0.5em) rotate(-45deg);
        opacity: 0.6;
    }

    100% {
        transform: translateY(-2em) rotate(-90deg);
        opacity: 0.9;
    }
}