 :root {
    --cor-primaria: #4682b4; 
    --cor-secundaria: #256aea; 
    --cor-branca: #ffffff;
    --cor-fundo-escuro: #082644; 
    --cor-fundo-azul-escuro: #003366; 
    --cor-fundo-azul-claro: #336699; 
}
  
    
  :root {
    --fonte-primaria: 'Poppins', sans-serif;
    --fonte-secundaria: 'Raleway', sans-serif;
    --fonte-gigante: 4.5rem;
    --fonte-extra-grande: 3rem;
    --fonte-grande: 2.4rem;
    --fonte-normal: 1.6rem;
  }
  
  :root {
    --mobile-padding: 30px;
  }