:root {
  --cor-primaria: #64ffda;
  --cor-secundaria: #8892b0;
  --cor-branca: #e6f1ff;
  --cor-fundo-escuro: #0a192f;
  --cor-fundo-azul-escuro: #020c1b;
  --cor-hoover-habilidades: #64ffda;
  --cor-fundo-azul-claro: #112240;
}

:root {
  --fonte-primaria: 'Inter', sans-serif;
  --fonte-secundaria: 'Fira Code', monospace;
  --fonte-gigante: 4.5rem;
  --fonte-extra-grande: 3rem;
  --fonte-grande: 2.4rem;
  --fonte-normal: 1.6rem;
}

:root {
  --mobile-padding: 30px;
}
